
    
    h1{
      text-align:center;
    }
    .intro{
      display:flex;
      margin-bottom: 35px;
      justify-content: center;
      line-height: 27px;
      }
      
  
       
      
      .cardio_1,.gastro,.neuro,.ortho,.urolo{
    margin:0px 150px 6px 150px;
      padding:20px 600px 20px 100px;
      background-size: 100% 100%;
      
    }
    .cardio_1{
      background-image: url("img/cardiology.jpg");
    }
    .urolo{
      background-image: url("img/urology_1.jpg");
    }
    .ortho{
      background-image: url("img/orthopedics.jpg");
    }
    .neuro{
      background-image: url("img/neurology.jpg");
    }
    .gastro{
      background-image: url("img/gastroenterology.jpg");
    }
  